// =======================================
//    #UTILITY - FONTS
// =======================================

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: woff2 woff, $local: null) {
  $src: null;

  @if $local {
    $src: local($local);
  }

  $formats: (
    woff: 'webopenformat',
    woff2: 'webopenformat'
  );

  @each $ext in $exts {
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + '.' + $ext)) format(quote($format)), comma);
  }

  @font-face {
    font-display: swap;
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// Fonts.com license for Helvetic web fonts
// @import url("https://fast.fonts.net/lt/1.css?apiType=css&c=72ea6c2d-4925-4118-8217-5f369f953766&fontids=5664067,5664081,5664085,5664089,5664093,5664098,5664103,5664107,5664111,5664149");

// Usage
// @include font-face($name: 'Roboto', $path: '../fonts/opensans/roboto/roboto-regular', $weight: 400, $style: normal);
// or
// @include font-face('Roboto', '../fonts/opensans/roboto/roboto-regular', 400, normal);

// OpenSans
// @include font-face('OpenSans', '../fonts/opensans/OpenSans-Light', 300, normal);
// @include font-face('OpenSans', '../OpenSans-LightItalic', 300, italic);
@include font-face('OpenSans', '../fonts/opensans/OpenSans-Regular', 400, normal);
@include font-face('OpenSans', '../fonts/opensans/OpenSans-Italic', 400, italic);
@include font-face('OpenSans', '../fonts/opensans/OpenSans-SemiBold', 600, normal);
// @include font-face('OpenSans', '../fonts/opensans/OpenSans-SemiBoldItalic', 600, italic);
@include font-face('OpenSans', '../fonts/opensans/OpenSans-Bold', 700, normal);
// @include font-face('OpenSans', '../fonts/opensans/OpenSans-BoldItalic', 700, italic);
@include font-face('OpenSans', '../fonts/opensans/OpenSans-ExtraBold', 800, normal);
// @include font-face('OpenSans', '../fonts/opensans/OpenSans-ExtraBoldItalic', 800, italic);

// System Font stack
// https://css-tricks.com/snippets/css/system-font-stack/
$systemFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
// https://css-tricks.com/snippets/css/system-font-stack/#comment-1606328
$systemSerif: 'Apple Garamond', 'Baskerville', 'Times New Roman', 'Droid Serif', 'Times', 'Source Serif Pro', serif;

$font-body: 'OpenSans', $systemFont;

// ========================================================================= //
//  Web Fonts
//
//
//  FOR REFERENCE: Font-weights by numeric value / name.
//  Side note: it is recommended that we to use the numeric value here to help clarify exactly which weight is getting referenced to.
//    100 = thin
//    200 = extra-light
//    300 = light
//    400 = normal, book
//    500 = medium
//    600 = demi-bold / semi-bold
//    700 = bold
//    800 = heavy / extra-bold / heavy
//    900 = black / extra-black / ultra-black
//
// ========================================================================= //
